
<div class="home-container">
 <div class="header">
    <span class="welcome-msg">Welcome Employee Id : {{ employeeId }}</span>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>  <div class="top-buttons">
    <button (click)="addNewRide()">Add New Ride</button>
    <button (click)="findRide()">Find Ride</button>
  </div>

  <div class="ride-summary-section">
    <div class="ride-category">
      <h3>Rides I’m Offering</h3>
      <ul *ngIf="offeredRides.length > 0; else noOffered">
        <li *ngFor="let ride of offeredRides">
          {{ ride.time }} |
          {{ ride.pickUpPoint }} → {{ ride.destination }} |
          {{ ride.vehicleType | titlecase }} ({{ ride.vehicleNo }}) |
          {{ ride.vacantSeats }} seat left
        </li>
      </ul>
      <ng-template #noOffered>
        <p>No rides offered today.</p>
      </ng-template>
    </div>

    <hr />

    <div class="ride-category">
      <h3>Rides I’ve Booked</h3>
      <ul *ngIf="bookedRides.length > 0; else noBooked">
        <li *ngFor="let ride of bookedRides">
           {{ ride.time }} |
          {{ ride.pickUpPoint }} → {{ ride.destination }} |
          {{ ride.vehicleType | titlecase }} ({{ ride.vehicleNo }}) |
          Driver: {{ ride.employeeId }}
        </li>
      </ul>
      <ng-template #noBooked>
        <p>No rides booked today.</p>
      </ng-template>
    </div>
  </div>
 
</div>

